@use '../../styles' as *

.header
  position: fixed
  top: 120px
  width: 100%
  z-index: 100

.container
  @include container
  padding: 0 60px
  display: flex
  justify-content: flex-end

.wrapper
  width: 36px
  height: 36px
  border: 7px solid $color-white
  align-self: flex-end
  z-index: 1
  border-radius: 24px
  overflow: hidden
  backdrop-filter: blur(0px)
  background: rgba(255, 255, 255, 0)
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
  cursor: pointer
  transition: 0.3s all ease-in-out

  &:hover
    border-color: $color-acent
  
  svg
    display: none

  &__open
    width: 436px
    min-height: 136px
    height: fit-content
    border-radius: 24px
    backdrop-filter: blur(16px)
    background: rgba(255, 255, 255, 0.11)
    border: 1px solid $color-white
    cursor: auto

    &:hover
      border-color: $color-white

    .close
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 24px
      height: 24px
      background: $color-white
      position: absolute
      right: 12px
      top: 12px
      border-radius: 50%
      cursor: pointer

      svg
        display: initial
        
.content
  display: none
  flex-direction: column
  opacity: 0
  padding: 24px

  &__open
    display: flex
    opacity: 1

.title
  @include fontStyle($fontSize: 24px, $color: $color-white, $font-weight: 400)
  text-transform: uppercase
  margin-bottom: 12px

.form
  display: flex
  column-gap: 12px
  align-items: flex-end

.btn
  background: $color-acent
  border: none
  border-radius: 5px
  height: 48px
  color: $color-black
  padding: 0 24px
  margin: 4px 0
  white-space: nowrap
  @include fontStyle(16px, 120%, $color-black)
  transition: 0.3s all ease
  cursor: pointer

  &:hover
    background: darken($color-acent, 5% )

.cityList
  display: flex
  flex-wrap: wrap
  gap: 6px
  
.city
  display: flex
  align-items: center
  @include fontStyle(14px, 120%, $color-black)
  border-radius: 5px
  background: $color-white
  padding: 10px 6px 10px 12px
  cursor: pointer
  transition: 0.2s background ease

  &:hover
    background: darken($color-white, 20% )

  svg
    display: initial
    cursor: pointer
    transition: 0.2s fill ease

    &:hover
      fill: $color-alert

.hr
  width: 100%
  opacity: 30%

  
