/* stylelint-disable */
@use '../../styles' as *
/* stylelint-disable */

.wrapper
  display: flex
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 48px

.left
  display: flex
  flex-direction: column

.city
  text-transform: uppercase
  margin-bottom: 4px
  @include fontStyle_H1

.description
  margin-bottom: 4px
  @include fontStyle($fontSize: 12px, $color: rgba($color-white, 0.4))

  &__right
    text-align: right
    letter-spacing: 0

.date
  @include fontStyle_H3

.weather
  svg
    transform: scale(2)
    height: 70px
    margin: 24px 0 0 12px

  img
    height: 100px
    object-fit: cover

  &__text
    @include fontStyle_H2

.temp
  display: flex
  flex-direction: column
  align-items: flex-end

  &__now
    letter-spacing: -0.05em
    @include fontStyle($fontSize: 180px, $lineHeight: 100%, $color: $color-white, $font-weight: 300)

  &__minmax
    @include fontStyle($fontSize: 60px, $lineHeight: 100%, $color: $color-white, $font-weight: 300)

@media (max-width: $breakpoint-mob-min)
  .wrapper
    flex-direction: column

  .city
    @include fontStyle($fontSize: 56px, $color: $color-white, $font-weight: 500)

  .date
    & > div
      display: flex
      flex-direction: column

  .description
    margin-bottom: 4px
    @include fontStyle($fontSize: 12px, $color: rgba($color-white, 0.4))

    &__right
      text-align: left
      letter-spacing: 0

  .temp
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: 24px

    &__now
      letter-spacing: -0.05em
      @include fontStyle($fontSize: 140px, $lineHeight: 100%, $color: $color-white, $font-weight: 300)

    &__minmax
      @include fontStyle($fontSize: 32px, $lineHeight: 100%, $color: $color-white, $font-weight: 300)
