/* stylelint-disable */
@use '../styles' as *
/* stylelint-disable */

.main
	position: relative
	display: flex
	width: 100vw
	height: 100vh
	z-index: 1
	padding: 0 24px

.container
	@include container

.wrapper
	margin: 0 auto
	margin-top: 36px
	max-width: 1120px
	width: 100%
	height: fit-content
	background: rgba(255, 255, 255, 0.1)
	border: 2px solid rgba(255, 255, 255, 0.1)
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25), inset 0px 4px 12px rgba(255, 255, 255, 0.25)
	backdrop-filter: blur(12px)
	-webkit-backdrop-filter: blur(12px)
	border-radius: 36px
	padding: 48px 12px

.hourSLider
	display: flex

@media (max-width: $breakpoint-mob-min)
	.main
		padding: 0 12px

	.wrapper
		padding: 36px 24px
		margin-top: 12px

	.container
		padding: 0px
		overflow: hidden


